In [1]:
import pandas as pd

airlines = pd.read_csv("airlines_final.csv", index_col=0)

In [2]:
# Create DataFrame categories :
cleanliness= airlines['cleanliness'].unique()
safety=airlines['safety'].unique()
satisfaction=airlines['satisfaction'].unique()

dictionary = {'cleanliness':cleanliness, 'safety':safety, 'satisfaction':satisfaction}
categories = pd.DataFrame(dictionary)

categories.to_csv('categories.csv')
#https://www.geeksforgeeks.org/saving-a-pandas-dataframe-as-a-csv/

# Members only

Throughout the course so far, you've been exposed to some common problems that you may encounter with your data, from data type constraints, data range constrains, uniqueness constraints, and now membership constraints for categorical values.

In this exercise, you will map hypothetical problems to their respective categories.

## Instructions

* Map the data problem observed with the correct type of data problem.

## ANSWERS:

* Membership Constraint:
    * GPA column containing -Z grade.
    * day_of_week column with the value suntermonday.
    * has_loan column with value 12.
    * month column with value 14.

##
* Other Constraint:
    * revenue column represented as string.
    * birthdate column with values in the future. 
    * age column with values above 130.

# Finding consistency

In this exercise and throughout this chapter, you'll be working with the airlines DataFrame which contains survey responses on the San Francisco Airport from airline customers.

The DataFrame contains flight metadata such as the airline, the destination, waiting times as well as answers to key questions regarding cleanliness, safety, and satisfaction. Another DataFrame named categories was created, containing all correct possible values for the survey columns.

In this exercise, you will use both of these DataFrames to find survey answers with inconsistent values, and drop them, effectively performing an outer and inner join on both these DataFrames as seen in the video exercise. The pandas package has been imported as pd, and the airlines and categories DataFrames are in your environment.

## Instructions 1/4

* Print the categories DataFrame and take a close look at all possible correct categories of the survey columns.
* Print the unique values of the survey columns in airlines using the .unique() method.

In [3]:
# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satsified
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied
Cleanliness:  ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

## Instructions 2/4

## Question

Take a look at the output. Out of the cleanliness, safety and satisfaction columns, which one has an inconsistent category and what is it?

## ANSWER: 

* cleanliness because it has an `Unacceptable` category.

## Instructions 3/4

* Create a set out of the cleanliness column in airlines using set() and find the inconsistent category by finding the difference in the cleanliness column of categories.
* Find rows of airlines with a cleanliness value not in categories and print the output.

## Instructions 4/4
* Print the rows with the consistent categories of cleanliness only.

In [4]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

Empty DataFrame
Columns: [id, day, airline, destination, dest_region, dest_size, boarding_area, dept_time, wait_min, cleanliness, safety, satisfaction]
Index: []
        id        day        airline        destination    dest_region  \
0     1351    Tuesday    UNITED INTL             KANSAI           Asia
1      373     Friday         ALASKA  SAN JOSE DEL CABO  Canada/Mexico
2     2820   Thursday          DELTA        LOS ANGELES        West US
3     1157    Tuesday      SOUTHWEST        LOS ANGELES        West US
4     2992  Wednesday       AMERICAN              MIAMI        East US
...    ...        ...            ...                ...            ...
2804  1475    Tuesday         ALASKA       NEW YORK-JFK        East US
2805  2222   Thursday      SOUTHWEST            PHOENIX        West US
2806  2684     Friday         UNITED            ORLANDO        East US
2807  2549    Tuesday        JETBLUE         LONG BEACH        West US
2808  2162   Saturday  CHINA EASTERN            QINGDAO           Asia

     dest_size boarding_area   dept_time  wait_min     cleanliness  \
0          Hub  Gates 91-102  2018-12-31     115.0           Clean
1        Small   Gates 50-59  2018-12-31     135.0           Clean
2          Hub   Gates 40-48  2018-12-31      70.0         Average
3          Hub   Gates 20-39  2018-12-31     190.0           Clean
4          Hub   Gates 50-59  2018-12-31     559.0  Somewhat clean
...        ...           ...         ...       ...             ...
2804       Hub   Gates 50-59  2018-12-31     280.0  Somewhat clean
2805       Hub   Gates 20-39  2018-12-31     165.0           Clean
2806       Hub   Gates 70-90  2018-12-31      92.0           Clean
2807     Small    Gates 1-12  2018-12-31      95.0           Clean
2808     Large    Gates 1-12  2018-12-31     220.0           Clean

             safety        satisfaction
0           Neutral      Very satisfied
1         Very safe      Very satisfied
2     Somewhat safe             Neutral
3         Very safe  Somewhat satsified
4         Very safe  Somewhat satsified
...             ...                 ...
2804        Neutral  Somewhat satsified
2805      Very safe      Very satisfied
2806      Very safe      Very satisfied
2807  Somewhat safe      Very satisfied
2808      Very safe  Somewhat satsified

[2477 rows x 12 columns]

# Categories of errors

In the video exercise, you saw how to address common problems affecting categorical variables in your data, including white spaces and inconsistencies in your categories, and the problem of creating new categories and mapping existing ones to new ones.

To get a better idea of the toolkit at your disposal, you will be mapping functions and methods from pandas and Python used to address each type of problem.

## Instructions

Map each function/method to the categorical data problem it solves.

* White spaces and inconsistency
    * `str.trip()`
    * `str.upper()`
    * `str.lower()`


* Creating or remapping categories
    * `pandas.cut()`
    * `replace()`
    * `pandas.qcut()`

# Inconsistent categories

In this exercise, you'll be revisiting the airlines DataFrame from the previous lesson.

As a reminder, the DataFrame contains flight metadata such as the airline, the destination, waiting times as well as answers to key questions regarding cleanliness, safety, and satisfaction on the San Francisco Airport.

In this exercise, you will examine two categorical columns from this DataFrame, dest_region and dest_size respectively, assess how to address them and make sure that they are cleaned and ready for analysis. The pandas package has been imported as pd, and the airlines DataFrame is in your environment.

## Instructions 1/4

* Print the unique values in dest_region and dest_size respectively.

In [11]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

## Instructions 2/4

## Question

From looking at the output, what do you think is the problem with these columns?

## Possible Answers

* The dest_region column has only inconsistent values due to capitalization.

* The dest_region column has inconsistent values due to capitalization and has one value that needs to be remapped.

* The dest_size column has only inconsistent values due to leading and trailing spaces.

* Both 2 and 3 are correct.

## ANSWER:

* Both 2 and 3 are correct.

## Instructions 3/4

* Change the capitalization of all values of dest_region to lowercase.
* Replace the 'eur' with 'europe' in dest_region using the .replace() method.

## Instructions 4/4

* Strip white spaces from the dest_size column using the .strip() method.
* Verify that the changes have been into effect by printing the unique values of the columns using .unique() .

In [13]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# Verify changes have been effected
print(airlines['dest_region'])
print(airlines['dest_size'])

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']
0                asia
1       canada/mexico
2             west us
3             west us
4             east us
            ...
2804          east us
2805          west us
2806          east us
2807          west us
2808             asia
Name: dest_region, Length: 2477, dtype: object
0         Hub
1       Small
2         Hub
3         Hub
4         Hub
        ...
2804      Hub
2805      Hub
2806      Hub
2807    Small
2808    Large
Name: dest_size, Length: 2477, dtype: object

# Remapping categories

To better understand survey respondents from airlines, you want to find out if there is a relationship between certain responses and the day of the week and wait time at the gate.

The airlines DataFrame contains the day and wait_min columns, which are categorical and numerical respectively. The day column contains the exact day a flight took place, and wait_min contains the amount of minutes it took travelers to wait at the gate. To make your analysis easier, you want to create two new categorical variables:

wait_type: 'short' for 0-60 min, 'medium' for 60-180 and long for 180+
day_week: 'weekday' if day is in the weekday, 'weekend' if day is in the weekend.
The pandas and numpy packages have been imported as pd and np. Let's create some new categorical data!

## Instructions

* Create the ranges and labels for the wait_type column mentioned in the description.
* Create the wait_type column by from wait_min by using pd.cut(), while inputting label_ranges and label_names in the correct arguments.
* Create the mapping dictionary mapping weekdays to 'weekday' and weekend days to 'weekend'.
* Create the day_week column by using .replace().

In [16]:
import numpy as np

# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

# Removing titles and taking names

While collecting survey respondent metadata in the airlines DataFrame, the full name of respondents was saved in the full_name column. However upon closer inspection, you found that a lot of the different names are prefixed by honorifics such as "Dr.", "Mr.", "Ms." and "Miss".

Your ultimate objective is to create two new columns named first_name and last_name, containing the first and last names of respondents respectively. Before doing so however, you need to remove honorifics.

The airlines DataFrame is in your environment, alongside pandas as pd.

## Instructions

* Remove "Dr.", "Mr.", "Miss" and "Ms." from full_name by replacing them with an empty string "" in that order.
* Run the assert statement using .str.contains() that tests whether full_name still contains any of the honorifics.

In [28]:
# creamos la columna full_names
full_name=['Melodie Stuart', 'Dominic Shannon', 'Quintessa Tillman', 'Dr. Christine Nicholson', 'Regina Clements', 'Colleen Harding', 'Kaitlin Cochran', 'Molly Norton', 'Richard Lott', 'Matthew Nguyen', 'Dr. Laith Decker', 'Holly Austin', 'Jaden Gray', 'Germaine Hurley', 'Kyle Gay', 'Zachery Diaz', 'Carolyn Hartman', 'Miss Alana Grant', 'Idola Acosta', 'Dara English', 'Miss Aurora Flores', 'Henry Sloan', 'Jared Chase', 'Xavier Castro', 'Holmes Fowler', 'Lucy Noel', 'Kerry Tucker', 'Garrison Barrett', 'Stephanie Cannon', 'Dr. Charlotte Savage', 'Lane Clements', 'Aimee Whitfield', 'Martena Neal', 'Xandra Hartman', 'Meredith Gutierrez', 'Mr. Kermit Deleon', 'Derek Terrell', 'Shaeleigh Mccarthy', 'Burke Leon', 'Mr. Clinton Holmes', 'Whoopi Tillman', 'Hamilton Gardner', 'Graiden Bridges', 'Sheila Robinson', 'Cameron Barlow', 'Kasimir Irwin', 'Ms. Lilah Chen', 'Judith Price', 'Dane Barker', 'Micah Bullock', 'Leonard Stevens', 'Ms. Beverly Hampton', 'Devin Morrison', 'Mr. Jordan Cooke', 'Miss Ann Hale', 'Graiden Riddle', 'Julian Stanley', 'Christine Carter', 'Hasad Valentine', 'Bevis Mcdowell', 'Alec Davis', 'Dr. Daniel Hood', 'Ms. Britanney Schmidt', 'Wanda Jackson', 'Quyn Henderson', 'Hammett Duncan', 'Duncan Stark', 'Jin Shannon', 'Fulton Meadows', 'Dr. Malik Hanson', 'Laith Espinoza', 'Dr. Jared Holman', 'Julie Davidson', 'Dr. Jane Harrell', 'Aphrodite Shannon', 'Jermaine Randall', 'Hammett Talley', 'Sasha Riggs', 'Dr. Damian Wynn', 'Aidan Macias', 'Sawyer Hines', 'Mr. Hector Caldwell', 'Abra Webb', 'Stone Price', 'Cheyenne Stout', 'Lareina Wall', 'Dr. Ella Pena', 'Quintessa Sherman', 'Ishmael Duffy', 'Ms. Willa Stuart', 'Gareth Hunt', 'Stewart Jacobs', 'Ms. Amaya Pate', 'Dr. Xavier Medina', 'Mr. Marvin Mcneil', 'Imogene Harris', 'Abbot Hensley', 'Miss Fiona Velez', 'Rinah Stephenson', 'Ms. Olivia Keith', 'Vielka Rosario', 'Lani Sawyer', 'Clayton Sparks', 'Oprah Ingram', 'Acton Smith', 'Demetria Byrd', 'Patience Galloway', 'Hoyt Alvarez', 'Dara Pennington', 'Ebony Davidson', 'Brent Rosario', 'Melyssa Mayer', 'Regan Kelly', 'Leah Barlow', 'Nathan Santos', 'Uta Mckee', 'Lawrence Gallegos', 'Matthew Edwards', 'Xander Wilson', 'Kelly Pittman', 'Brynne Pugh', 'Shea Collins', 'Hu Carver', 'Stacey Coleman', 'Kaye Mcgowan', 'Vivien Cobb', 'Vaughan Harrison', 'Porter Hudson', 'Carl Conway', 'Lyle Bradshaw', 'Hashim Walter', 'Branden Larson', 'Idola Ball', 'Camilla White', 'Rafael Lowery', 'Victor Leon', 'Yasir Lynch', 'Dr. Emerson Woodard', 'Dr. Astra Mcneil', 'Dr. Shafira Marks', 'Mr. Dominic Smith', 'Talon Holder', 'Ivor Wise', 'Carolyn Clay', 'Jerome Ruiz', 'Todd Chase', 'Gray Noel', 'Ann Sanchez', 'Mr. Alec Heath', 'Heidi Terry', 'Alana Velasquez', 'Mr. Jared York', 'Abbot Lester', 'Dr. Fulton Turner', 'Dr. Maggie Cortez', 'Ramona Wade', 'Dr. Lynn Thomas', 'Aquila Graham', 'Gareth Marks', 'Dolan Wolf', 'Julie Coffey', 'Emerson Hatfield', 'Claire Rios', 'Christian Doyle', 'Haley Oliver', 'Rigel Day', 'Clare Gould', 'Ms. Keiko Mcfarland', 'Duncan Chandler', 'Penelope Stark', 'Kasper Shields', 'Dr. Rose Fleming', 'Miss Petra Mitchell', 'Ms. Regan Lynch', 'Keane Bennett', 'Nash Head', 'Ainsley Riley', 'Kirestin Newton', 'Jakeem Hall', 'Reece Mitchell', 'Wanda Walls', 'Barry Mccray', 'Dr. Zahir Hardin', 'Graiden Cox', 'Miss Lara Green', 'Felix Bell', 'Mr. Addison Day', 'Tallulah Guzman', 'Jocelyn Guzman', 'Ivory Miller', 'Mr. Eaton Vazquez', 'Silas Clemons', 'Quinn Barry', 'Orson Pratt', 'Constance Morse', 'Ms. Vanna Rivera', 'Miss Venus Lowe', 'Amethyst Nieves', 'Miss Vivian Foreman', 'Miss Wendy Griffin']
airlines['full_name'] = pd.DataFrame(full_name)

In [29]:
print(full_name)

['Melodie Stuart', 'Dominic Shannon', 'Quintessa Tillman', 'Dr. Christine Nicholson', 'Regina Clements', 'Colleen Harding', 'Kaitlin Cochran', 'Molly Norton', 'Richard Lott', 'Matthew Nguyen', 'Dr. Laith Decker', 'Holly Austin', 'Jaden Gray', 'Germaine Hurley', 'Kyle Gay', 'Zachery Diaz', 'Carolyn Hartman', 'Miss Alana Grant', 'Idola Acosta', 'Dara English', 'Miss Aurora Flores', 'Henry Sloan', 'Jared Chase', 'Xavier Castro', 'Holmes Fowler', 'Lucy Noel', 'Kerry Tucker', 'Garrison Barrett', 'Stephanie Cannon', 'Dr. Charlotte Savage', 'Lane Clements', 'Aimee Whitfield', 'Martena Neal', 'Xandra Hartman', 'Meredith Gutierrez', 'Mr. Kermit Deleon', 'Derek Terrell', 'Shaeleigh Mccarthy', 'Burke Leon', 'Mr. Clinton Holmes', 'Whoopi Tillman', 'Hamilton Gardner', 'Graiden Bridges', 'Sheila Robinson', 'Cameron Barlow', 'Kasimir Irwin', 'Ms. Lilah Chen', 'Judith Price', 'Dane Barker', 'Micah Bullock', 'Leonard Stevens', 'Ms. Beverly Hampton', 'Devin Morrison', 'Mr. Jordan Cooke', 'Miss Ann Hale', 'Graiden Riddle', 'Julian Stanley', 'Christine Carter', 'Hasad Valentine', 'Bevis Mcdowell', 'Alec Davis', 'Dr. Daniel Hood', 'Ms. Britanney Schmidt', 'Wanda Jackson', 'Quyn Henderson', 'Hammett Duncan', 'Duncan Stark', 'Jin Shannon', 'Fulton Meadows', 'Dr. Malik Hanson', 'Laith Espinoza', 'Dr. Jared Holman', 'Julie Davidson', 'Dr. Jane Harrell', 'Aphrodite Shannon', 'Jermaine Randall', 'Hammett Talley', 'Sasha Riggs', 'Dr. Damian Wynn', 'Aidan Macias', 'Sawyer Hines', 'Mr. Hector Caldwell', 'Abra Webb', 'Stone Price', 'Cheyenne Stout', 'Lareina Wall', 'Dr. Ella Pena', 'Quintessa Sherman', 'Ishmael Duffy', 'Ms. Willa Stuart', 'Gareth Hunt', 'Stewart Jacobs', 'Ms. Amaya Pate', 'Dr. Xavier Medina', 'Mr. Marvin Mcneil', 'Imogene Harris', 'Abbot Hensley', 'Miss Fiona Velez', 'Rinah Stephenson', 'Ms. Olivia Keith', 'Vielka Rosario', 'Lani Sawyer', 'Clayton Sparks', 'Oprah Ingram', 'Acton Smith', 'Demetria Byrd', 'Patience Galloway', 'Hoyt Alvarez', 'Dara Pennington', 'Ebony Davidson', 'Brent Rosario', 'Melyssa Mayer', 'Regan Kelly', 'Leah Barlow', 'Nathan Santos', 'Uta Mckee', 'Lawrence Gallegos', 'Matthew Edwards', 'Xander Wilson', 'Kelly Pittman', 'Brynne Pugh', 'Shea Collins', 'Hu Carver', 'Stacey Coleman', 'Kaye Mcgowan', 'Vivien Cobb', 'Vaughan Harrison', 'Porter Hudson', 'Carl Conway', 'Lyle Bradshaw', 'Hashim Walter', 'Branden Larson', 'Idola Ball', 'Camilla White', 'Rafael Lowery', 'Victor Leon', 'Yasir Lynch', 'Dr. Emerson Woodard', 'Dr. Astra Mcneil', 'Dr. Shafira Marks', 'Mr. Dominic Smith', 'Talon Holder', 'Ivor Wise', 'Carolyn Clay', 'Jerome Ruiz', 'Todd Chase', 'Gray Noel', 'Ann Sanchez', 'Mr. Alec Heath', 'Heidi Terry', 'Alana Velasquez', 'Mr. Jared York', 'Abbot Lester', 'Dr. Fulton Turner', 'Dr. Maggie Cortez', 'Ramona Wade', 'Dr. Lynn Thomas', 'Aquila Graham', 'Gareth Marks', 'Dolan Wolf', 'Julie Coffey', 'Emerson Hatfield', 'Claire Rios', 'Christian Doyle', 'Haley Oliver', 'Rigel Day', 'Clare Gould', 'Ms. Keiko Mcfarland', 'Duncan Chandler', 'Penelope Stark', 'Kasper Shields', 'Dr. Rose Fleming', 'Miss Petra Mitchell', 'Ms. Regan Lynch', 'Keane Bennett', 'Nash Head', 'Ainsley Riley', 'Kirestin Newton', 'Jakeem Hall', 'Reece Mitchell', 'Wanda Walls', 'Barry Mccray', 'Dr. Zahir Hardin', 'Graiden Cox', 'Miss Lara Green', 'Felix Bell', 'Mr. Addison Day', 'Tallulah Guzman', 'Jocelyn Guzman', 'Ivory Miller', 'Mr. Eaton Vazquez', 'Silas Clemons', 'Quinn Barry', 'Orson Pratt', 'Constance Morse', 'Ms. Vanna Rivera', 'Miss Venus Lowe', 'Amethyst Nieves', 'Miss Vivian Foreman', 'Miss Wendy Griffin']

In [26]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss","")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.","")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

/tmp/ipykernel_2211/3304348909.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")
/tmp/ipykernel_2211/3304348909.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")
/tmp/ipykernel_2211/3304348909.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  airlines['full_name'] = airlines['full_name'].str.replace("Ms.","")

# Keeping it descriptive

To further understand travelers' experiences in the San Francisco Airport, the quality assurance department sent out a qualitative questionnaire to all travelers who gave the airport the worst score on all possible categories. The objective behind this questionnaire is to identify common patterns in what travelers are saying about the airport.

Their response is stored in the survey_response column. Upon a closer look, you realized a few of the answers gave the shortest possible character amount without much substance. In this exercise, you will isolate the responses with a character count higher than 40 , and make sure your new DataFrame contains responses with 40 characters or more using an assert statement.

The airlines DataFrame is in your environment, and pandas is imported as pd.

## Instructions

* Using the airlines DataFrame, store the length of each instance in the survey_response column in resp_length by using .str.len().
* Isolate the rows of airlines with resp_length higher than 40.
* Assert that the smallest survey_response length in airlines_survey is now bigger than 40.

In [52]:
survey_response=['',
 'It was terrible',
 'I didnt like the flight',
 'I hate this ',
 'Not a fan',
 'Bad',
 'Horrible',
 'Very poor',
 'Unacceptable flight',
 'It was awful',
 'My fllight was really unpleasant',
 'I am not a fan',
 'I had a bad flight',
 'It was very bad',
 'it was horrible',
 'Terrible',
 'It was substandard',
 'I did not enjoy the flight',
 'The airport personnell forgot to alert us of delayed flights, the bathrooms could have been cleaner',
 'The food in the airport was really really expensive - also no automatic escalators!',
 'One of the other travelers was really loud and talkative and was making a scene and no one did anything about it',
 "I don't remember answering the survey with these scores, my experience was great! ",
 'The airport personnel kept ignoring my requests for directions ',
 'The chair I sat in was extremely uncomfortable, I still have back pain to this day! ',
 'I wish you were more like other airports, the flights were really disorganized! ',
 'I was really unsatisfied with the wait times before the flight. It was unacceptable.',
 'The flight was okay, but I did not really like the number of times I had to stop at security.',
 'We were really slowed down by security measures, I missed my flight because of it! ',
 'There was a spill on the aisle next to the bathroom and it took hours to clean!',
 'I felt very unsatisfied by how long the flight took to take off.']

airlines['survey_response'] = pd.DataFrame(survey_response)

In [53]:
# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

18    The airport personnell forgot to alert us of d...
19    The food in the airport was really really expe...
20    One of the other travelers was really loud and...
21    I don't remember answering the survey with the...
22    The airport personnel kept ignoring my request...
23    The chair I sat in was extremely uncomfortable...
24    I wish you were more like other airports, the ...
25    I was really unsatisfied with the wait times b...
27    We were really slowed down by security measure...
28    There was a spill on the aisle next to the bat...
29    I felt very unsatisfied by how long the flight...
Name: survey_response, dtype: object